body{
	background-color: #fff;
	font-family: 'Roboto';
}
.green{
	color: #2fc3b7;
}
.orange{
	color: #ffaf46;
}
.kaushan{
	font-family: 'Kaushan Script', cursive;
}
.green_button{
	color: #ffffff;
	font-size: 16px;
	font-weight: 500;
	line-height: 16px;
	padding:19px 82px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
	border-radius: 2px;
	background-color: #34c9be;
	display: inline-block;
}
.green_button:hover{
	border-radius: 2px;
	background-color: #1cc2b4;
	color: #ffffff;
	text-decoration: underline;
}
.green_button:active{
	box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
	border-radius: 2px;
	background-color: #1cc2b4;
	color: #ffffff;
	text-decoration: none;
}
.orange_button{
	color: #5e5e5e;
	font-size: 16px;
	font-weight: 500;
	line-height: 16px;
	padding: 19px 65px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
	border-radius: 2px;
	background-color: #ffb74d;
	display: inline-block;
}
.orange_button:hover{

	border-radius: 2px;
	background-color: #f09c21;
	color: #5e5e5e;
	text-decoration: underline;
}
.orange_button:active{
	box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
	border-radius: 2px;
	background-color: #f09c21;
	color: #5e5e5e;
	text-decoration: none;
}
#sec1{
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 50% 70%;
}
header{
	padding-top: 60px;
}
.main-nav{
	float: right;
	margin-bottom: 89px;
}
.main-nav a{
	color: rgba(255, 255, 255, 0.6);
	font-size: 16px;
	font-weight: 400;
	line-height: 16px;
	padding-right: 60px;
}
.main-nav a:hover{
	color: #fff;
	text-decoration: none;
}
.main-nav a:last-child{
	padding-right: 0px;
}
.header-title{
	color: #fff;
	font-size: 31px;
	font-weight: 400;
	line-height: 31px;
}
.header-subtitle{
	color: rgba(255, 255, 255, 0.8);
	font-size: 16px;
	font-weight: 500;
}
.logo{
	width: 372px;
    margin-top: 60px;
    margin-bottom: 60px;
}
.auth_buttons {
	margin-bottom: 166px;
}
.auth_buttons a{
	margin-right: 30px;
}
.auth_buttons a:hover{
	text-decoration: none;
}
.auth_buttons a:last-child{
	margin-right: 0px;
}



#sec2{
	padding-top: 90px;
    padding-bottom: 60px;
}
.sec2-title{
	color: #5e5e5e;
	font-size: 41px;
	font-weight: 400;
	line-height: 41px;
	text-align: center;
}
.sec2-subtitle{
	color: #9f9f9f;
	font-size: 16px;
	font-weight: 500;
	text-align: center;
	margin-bottom: 70px;
}
.sec2-item{
	border-radius: 3px;
	border: 1px solid #d9d9d9;
	background-color: #ffffff;
	text-align: center;
	padding-top: 88px;
}
.sec2-item_title{
	color: #34c9be;
	font-size: 54px;
	font-weight: 400;
	line-height: 54px;
}
.sec2-item_subtitle{
	color: rgba(25, 25, 25, 0.8);
	font-size: 18px;
	font-weight: 500;
	line-height: 18px;
	text-transform: uppercase;
	margin-bottom: 65px;
}
.sec2-item_logo{
	width: 88px;
    height: 88px;
    text-align: center;
    border: 1px solid #d9d9d9;
    background-color: #ffffff;
    position: absolute;
    top: -44px;
    right: 40%;
    border-radius: 100%;
}
.sec2-item_logo svg{
	position: absolute;
    right: 0px;
    left: 0px;
    top: 0px;
    bottom: 0px;
    margin: auto;
}



.sec3{
	padding-top: 60px;
	position: relative;
}
.sec3-title{
	text-align: center;
	color: #5e5e5e;
	font-size: 41px;
	font-weight: 400;
	line-height: 41px;
	margin-bottom: 25px;
}
.sec3-testim_list{
	list-style: none;
	padding: 0px;
	margin-bottom: 0px;
}
.sec3-testim_item{
	box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
	border-radius: 3px;
	background-color: #ffffff;
	padding: 33px 18px 23px 18px;
	margin-bottom: 22px;
}
.sec3-testim_item:last-child{
	margin-bottom: 0px;
}
.etaps-holdr{
    width: 55%;
    display: inline-block;
    position: absolute;
    height: 972px;
    box-shadow: 0 0 24px rgba(0, 0, 0, 0.3);
    background-color: #fff3e0;
    top: 0px;
    padding-top: 60px;
    z-index: 0;
    left: 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
}
.etaps-holdr_title{
	color: #ffffff;
	font-size: 41px;
	font-weight: 400;
	line-height: 41px;
	margin-bottom: 41px;
	margin-left: 15%;	
}	
.etaps-holdr svg{
	position: absolute;
}
.etaps-holdr_button{
	margin-top: 60px;
	margin-left: 146px;
}
.step1, .step2, .step3{
	color: #ffffff;
	font-size: 28px;
	font-weight: 400;
	line-height: 28px;
	text-transform: uppercase;
	width: 191px;
    height: 154px;
    background-size: cover;
    background-position: center;
}	
.step1{
	background-image: url(/themes/HumHub/img/login/step-1.svg);
	background-repeat: no-repeat;
	display:inline-block;
	margin-right: 22px;
	height: 160px;
}
.plane1{
	position: absolute;
	margin-top: 28px;
}
.step1-text{
	display: inline-block;
    margin-top: 30%;
    margin-left: 30%;
}
.step2{
	background-image: url(/themes/HumHub/img/login/step-2.svg);
	background-repeat: no-repeat;
	margin-left: 300px;
}
.step2-text{
	display: inline-block;
    margin-top: 30%;
    margin-left: 16%;	
}
.step3{
	background-image: url(/themes/HumHub/img/login/step-3.svg);
	background-repeat: no-repeat;
	margin-left: 60px;
	margin-top: 80px;
	margin-bottom: 23px;
	margin-right: 28px;
	display: inline-block;
}
.plane2{
	position: absolute;
    margin-top: 94px;
}
.step3-text{
	display: inline-block;
    margin-top: 30%;
    margin-left: 20%;																																																																																																																																						
}
.etaps-holdr_text{
	color: #ffffff;
	font-family: Roboto;
	font-size: 26px;
	font-weight: 300;
	line-height: 34px;
}
.sec3-testim_name{
	color: rgba(25, 25, 25, 0.8);
	font-family: Roboto;
	font-size: 16px;
	font-weight: 400;
	line-height: 22px;
	margin-bottom: 8px;
}
.sec3-testim_desc{
	color: #2f2f2f;
	font-family: Roboto;
	font-size: 14px;
	font-weight: 300;
	line-height: 21px;
}
.yellow-border{
	width: 108px;
    height: 108px;
    border: 1px solid #ffb74d;
    border-radius: 100%;
}
.profile-foto1{
	width: 100%;
    height: 100%;
    border: 7px solid #ffffff;
    margin: auto;
    border-radius: 100%;
    background-size: cover;
    background-position: center;
}
.profile-foto2{
	width: 100%;
    height: 100%;
    border: 7px solid #ffffff;
    margin: auto;
    border-radius: 100%;
    background-size: cover;
    background-position: center;
}
.profile-foto3{
	width: 100%;
    height: 100%;
    border: 7px solid #ffffff;
    margin: auto;
    border-radius: 100%;
    background-size: cover;
    background-position: center;
}
.divider{
	width: 35px;
    border: 1px solid #979797;
    background-color: #979797;
}												
#sec4{
	background-size: cover;
	background-repeat: no-repeat;
	padding-top: 166px; 
	background-position: bottom;																																																																																																																																																																		
}
.sec4-title{
	color: #ffffff;
	font-family: "Kaushan Script";
	font-size: 41px;
	font-weight: 400;
	line-height: 41px;
	text-align: center;
	margin-bottom: 30px;
}
.sec4-img{
	width: 100%;
	height: 245px;
}
.sec4-item{
	background-color: #fff;
	padding: 30px 10px 30px 30px;
}
.sec4-item_title{
	color: #5e5e5e;
	font-family: Roboto;
	font-size: 24px;
	font-weight: 400;
	margin-bottom: 8px;
}
.sec4-item_desc{
	color: #2f2f2f;
	font-family: Roboto;
	font-size: 14px;
	font-weight: 300;
	line-height: 21px;
}
.sec4-item_link{
	color: #34c9be;
	font-family: Roboto;
	font-size: 16px;
	font-weight: 400;
	line-height: 16px;
	text-transform: uppercase;
}
.sec4-item_wrap{
	box-shadow: 0 0 14px rgba(0, 0, 0, 0.2);
	border-radius: 3px;
	background-color: #ffffff;
}
.sec4-button_holder{
	margin-bottom: 24px;
	margin-top: 28px;
	text-align: center;
}
footer{
	background-color: #1b1b1b;
	padding-top: 39px;
	padding-bottom: 39px;
}
.bottom-nav{
	list-style: none;

}
.bottom-nav li{
	color: rgba(255, 255, 255, 0.6);
	font-family: Roboto;
	font-size: 16px;
	font-weight: 400;
	line-height: 16px;
	margin-bottom: 30px;
}
.bottom-form_wrap{

}
#bottom-form{

}
.bottom-form_item{

}
.bottom-form_item label{
	color: rgba(142, 142, 142, 0.8);
	font-family: Roboto;
	font-size: 10px;
	font-weight: 500;
	line-height: 14px;
}
#bottom-form .bottom-form_item input{
	background: transparent;
    border: none;
    width: 100%;
    border-bottom: 1px solid rgba(255, 255, 255, 0.7);
    outline: none;
     background-color: transparent;
}
#bottom-form .bottom-form_item input:hover{
	 background-color: transparent;
}
input::placeholder{
	color: #ffffff;
	font-family: Roboto;
	font-size: 16px;
	font-weight: 400;
}
#bottom-form input{
	width: 68px;
	height: 30px;
	border-radius: 3px;
	background-color: #ffb74d;
	color: rgba(255, 255, 255, 0.7);
	font-family: Roboto;
	font-size: 12px;
	font-weight: 400;
	line-height: 12px;
	border: none;
}
#bottom-form input:hover{
	background-color: #f09c21;
	color: #ffffff;
}
#bottom-form input:active{
	box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
	border-radius: 3px;
	background-color: #f09c21;
	color: rgba(255, 255, 255, 0.7);
	font-family: Roboto;
	font-size: 12px;
	font-weight: 400;
	line-height: 12px;
}
.bot-submit{
	margin-top: 16px;
}


.step1-desc{
	position: absolute;
	margin-left: 169px;
}
.step2-desc{
	left: 344px;	
	position: absolute;
}
.step3-desc{
	    margin-left: 100px;
    /* position: absolute; */
}
.bottom-nav a{
	cursor: pointer;
	text-decoration: none;
}
.bottom-nav li:hover{
	color: #ffb74d;
	text-decoration: none;
}
/*CONTACT US*/

.header{
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	background-color: #ffffff;
	padding-top: 25px;
	padding-bottom: 30px;
}
.header-logo_holder{
	width: 110px;
	height: 59px;
}
.header-nav {
	margin-top: 20px;
	float: right;
}
.header-nav a{
	color: rgba(71, 71, 71, 0.7);
	font-family: Roboto;
	font-size: 16px;
	font-weight: 400;
	line-height: 16px;	
	padding-right: 60px;
}

.header-nav a:last-child{
	padding-right: 0px;
}
.header-nav a:hover{
	color:#ffb74d;
	text-decoration: none;
}
.contacts-sec2{
	background-color: #f6f6f6;
	padding-top: 30px;
	padding-bottom: 30px;
}
.contacts-sec1_title{
	color: #4c4c4c;
	font-size: 91px;
	font-weight: 400;
	line-height: 91px;
	margin-top: 54px;
}
.contacts-sec1_subtitle{
	color: rgba(25, 25, 25, 0.7);
	font-size: 18px;
	font-weight: 400;
}
.contacts-form_wrap{
	max-width: 530px;
	margin-left: 97px;
}
.contacts-sec1_wrap{
	margin-left: 97px;
}
.contacts-form_item{
	margin-bottom: 15px;
}
.contacts-form_item input, .contacts-form_item textarea{
	height: 60px;
	border-radius: 3px;
	border: 1px solid #e2e2e2;
	background-color: #ffffff;																																																																																																																																																																																																							
	display: block;
	width: 100%;
	color: rgba(25, 25, 25, 0.8);
	font-size: 16px;
	font-weight: 400;
	line-height: 22px;
	padding-left: 15px;
}
.contacts-form_item label{
	color: #9f9f9f;
	font-size: 24px;
	font-weight: 400;
}
.contacts-form_send button{
	width: 90px;
	height: 40px;
	border-radius: 3px;
	background-color: #ffb74d;
	border:none;
	color: #ffffff;
	font-size: 21px;
	font-weight: 500;
	line-height: 16px;
	margin-top: 15px;
}
.contacts-form_send input:hover{
	background-color: #f09c21;
}
.contacts-form_send input:active{
	box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
	border-radius: 3px;
	background-color: #f09c21;
}


/*privacy policy*/

.ppolicy-heading{
	color: #4c4c4c;
	font-size: 91px;
	font-weight: 400;
	line-height: 91px;
	margin-top: 54px;
    margin-bottom: 30px;
}
.ppolicy-subheading{
	color: rgba(25, 25, 25, 0.8);
	font-size: 16px;
	font-weight: 400;
	line-height: 22px;
}
.ppolicy-flist{
 -webkit-padding-start: 20px;

}
.ppolicy-flist li{
	color: #4c4c4c;
	font-size: 24px;
	font-weight: 400;
	line-height: 28px;
}
.ppolicy-flist a{
	color: #ffb74d;
	font-size: 24px;
	font-weight: 400;
	line-height: 28px;
}
.ppolicy-title{
	color: #5e5e5e;
	font-size: 41px;
	font-weight: 400;
	line-height: 41px;
	margin-top: 60px;
	margin-bottom: 30px;
}
.ppolicy-sec1{
	color: #2f2f2f;
	font-family: Roboto;
	font-size: 14px;
	font-weight: 300;
	line-height: 21px;
}
.ppolicy-sec1 a{
	color: #ffb74d;	
}
.ppolicy-subtitle{
	color: rgba(25, 25, 25, 0.7);
	font-family: Roboto;
	font-size: 18px;
	font-weight: 400;
	margin-top: 30px;
	margin-bottom: 15px;
}
table, th, td{
	border: 1px solid #dcdcdc;
}
td{
	padding: 15px;
    text-align: left;
}
td:nth-child(1){
	width: 30%;
	padding: 10px 14px 31px;
}
.entity{
	margin-top: 30px;
	margin-bottom: 30px;
}
.entity-title{
	color: #8e8e8e;
	font-family: Roboto;
	font-size: 14px;
	font-weight: 500;
	line-height: 14px;
}
.entity-desc{
	color: #8e8e8e;
	font-family: Roboto;
	font-size: 14px;
	font-weight: 400;
	line-height: 18px;
}

/*FAQ*/
button.accordion {
    
    cursor: pointer;
    
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    color: #5e5e5e;
	font-family: Roboto;
	font-size: 24px;
	font-weight: 400;
	background-color: #fff;
	margin-bottom: 30px;
}

div.panel {
    padding: 0 18px;
    background-color: white;
    color: #2f2f2f;
	font-size: 14px;
	font-weight: 300;
	line-height: 21px;
}
button.accordion::before {
  content: "\25B6";
}
.faq-subtitle{		
	color: #5e5e5e;
	font-size: 41px;
	font-weight: 400;
	line-height: 41px;
	margin-top: 60px;
	margin-bottom: 30px;
}
.faq-title{
	color: #4c4c4c;
	font-size: 91px;
	font-weight: 400;
	line-height: 91px;
	text-transform: uppercase;
	margin-top: 54px;
	margin-bottom: 30px;
}

.faq-list a{
	color: #ffb74d;
	font-size: 24px;
	font-weight: 400;
	line-height: 28px;
}
.faq-list li{
	font-size: 24px;
	font-weight: 400;
	line-height: 28px;
	color: #4c4c4c;
	margin-bottom: 15px;
}
.faq-list li:last-child{
	margin-bottom: 0px;
}
button.accordion::before {
  transform: rotateX(90deg);
}


/*success stories*/

.success-sec1_wrap{
	box-shadow: 0 0 14px rgba(0, 0, 0, 0.2);
	border-radius: 3px;
	background-color: #ffffff;
	margin-bottom: 30px;
}
.success-sec1_title{
	color: #4c4c4c;
	font-size: 91px;
	font-weight: 400;
	line-height: 91px;
	margin-top: 54px;
	margin-bottom: 60px;
}
.sec4-item_link:hover{
	color: #34c9be;
}
.success-sec1_btn{
	text-align: center;
    margin-bottom: 54px;
}
.singlestory_button{
	text-align: center;
	margin-top: 28px;
	margin-bottom: 54px;
}
.singlestory_pic img{
	width: 100%;
}
.singlestory-text-pic img{
	width: 100%;
}
.singlestory-title{
	color: rgba(25, 25, 25, 0.8);
	font-family: Roboto;
	font-size: 16px;
	font-weight: 400;
	line-height: 22px;
	margin-top: 24px;
}
.singlestory-about{
	color: #5e5e5e;
	font-family: "Kaushan Script";
	font-size: 41px;
	font-weight: 400;
	line-height: 41px;
	margin-bottom: 10px;
}
.singlestory-date{
	color: rgba(142, 142, 142, 0.8);
	font-family: Roboto;
	font-size: 14px;
	font-weight: 400;
	line-height: 14px;
	margin-bottom: 30px;
}
.singlestory-sec1_title{
	color: #5e5e5e;
	font-family: Roboto;
	font-size: 24px;
	font-weight: 400;
}