.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  fill: currentColor;
}

.icon-Group {
  font-size:(12/10)*1rem;
  width:(15/12)*1em;
}
.icon-Oval {
  font-size:(214/10)*1rem;
  width:(220/214)*1em;
}
.icon-Oval-2 {
  font-size:(214/10)*1rem;
  width:(220/214)*1em;
}
.icon-add {
  font-size:(21/10)*1rem;
  width:(22/21)*1em;
}
.icon-add_click {
  font-size:(30/10)*1rem;
  width:(30/30)*1em;
}
.icon-birthday-cake {
  font-size:(12/10)*1rem;
  width:(11/12)*1em;
}
.icon-blog {
  font-size:(12/10)*1rem;
  width:(14/12)*1em;
}
.icon-blogs {
  font-size:(12/10)*1rem;
  width:(8/12)*1em;
}
.icon-calendar {
  font-size:(14/10)*1rem;
  width:(14/14)*1em;
}
.icon-check {
  font-size:(6/10)*1rem;
  width:(8/6)*1em;
}
.icon-close {
  font-size:(12/10)*1rem;
  width:(12/12)*1em;
}
.icon-comment_border {
  font-size:(14/10)*1rem;
  width:(16/14)*1em;
}
.icon-comments {
  font-size:(12/10)*1rem;
  width:(14/12)*1em;
}
.icon-earth_green {
  font-size:(12/10)*1rem;
  width:(12/12)*1em;
}
.icon-edit {
  font-size:(11.9/10)*1rem;
  width:(12/11.9)*1em;
}
.icon-edit_desire {
  font-size:(30/10)*1rem;
  width:(30/30)*1em;
}
.icon-edit_desire_hover {
  font-size:(30/10)*1rem;
  width:(30/30)*1em;
}
.icon-email {
  font-size:(10/10)*1rem;
  width:(13/10)*1em;
}
.icon-facebook {
  font-size:(12/10)*1rem;
  width:(7/12)*1em;
}
.icon-favorites {
  font-size:(21/10)*1rem;
  width:(22/21)*1em;
}
.icon-follow {
  font-size:(13.1/10)*1rem;
  width:(13.3/13.1)*1em;
}
.icon-followed {
  font-size:(8.7/10)*1rem;
  width:(12/8.7)*1em;
}
.icon-friend {
  font-size:(13.6/10)*1rem;
  width:(13.6/13.6)*1em;
}
.icon-friends {
  font-size:(21/10)*1rem;
  width:(22/21)*1em;
}
.icon-google-plus-logo {
  font-size:(20/10)*1rem;
  width:(20/20)*1em;
}
.icon-groups {
  font-size:(13/10)*1rem;
  width:(16/13)*1em;
}
.icon-icon-1 {
  font-size:(42/10)*1rem;
  width:(52/42)*1em;
}
.icon-icon-2 {
  font-size:(40/10)*1rem;
  width:(40/40)*1em;
}
.icon-icon-3 {
  font-size:(40/10)*1rem;
  width:(49/40)*1em;
}
.icon-invite {
  font-size:(21/10)*1rem;
  width:(21/21)*1em;
}
.icon-liked {
  font-size:(12/10)*1rem;
  width:(13/12)*1em;
}
.icon-location {
  font-size:(12/10)*1rem;
  width:(9/12)*1em;
}
.icon-logo {
  font-size:(169/10)*1rem;
  width:(314.3/169)*1em;
}
.icon-logo_footer {
  font-size:(50.6/10)*1rem;
  width:(495.8/50.6)*1em;
}
.icon-logout {
  font-size:(22/10)*1rem;
  width:(21/22)*1em;
}
.icon-members {
  font-size:(12/10)*1rem;
  width:(9/12)*1em;
}
.icon-message {
  font-size:(10.9/10)*1rem;
  width:(12.4/10.9)*1em;
}
.icon-messages {
  font-size:(21/10)*1rem;
  width:(24/21)*1em;
}
.icon-news {
  font-size:(16/10)*1rem;
  width:(13/16)*1em;
}
.icon-notifications {
  font-size:(21/10)*1rem;
  width:(18/21)*1em;
}
.icon-photos {
  font-size:(12/10)*1rem;
  width:(15/12)*1em;
}
.icon-photos_stat {
  font-size:(12/10)*1rem;
  width:(15/12)*1em;
}
.icon-plane {
  font-size:(103/10)*1rem;
  width:(155/103)*1em;
}
.icon-poll {
  font-size:(12/10)*1rem;
  width:(16/12)*1em;
}
.icon-polls {
  font-size:(12/10)*1rem;
  width:(12/12)*1em;
}
.icon-search {
  font-size:(14/10)*1rem;
  width:(14/14)*1em;
}
.icon-settings {
  font-size:(20/10)*1rem;
  width:(20/20)*1em;
}
.icon-share {
  font-size:(12.5/10)*1rem;
  width:(11.4/12.5)*1em;
}
.icon-share-user {
  font-size:(40/10)*1rem;
  width:(40/40)*1em;
}
.icon-star_empty {
  font-size:(14/10)*1rem;
  width:(14/14)*1em;
}
.icon-star_fill {
  font-size:(12/10)*1rem;
  width:(12/12)*1em;
}
.icon-step-1 {
  font-size:(155/10)*1rem;
  width:(185/155)*1em;
}
.icon-step-2 {
  font-size:(157/10)*1rem;
  width:(194/157)*1em;
}
.icon-step-3 {
  font-size:(160/10)*1rem;
  width:(195/160)*1em;
}
.icon-success_stories {
  font-size:(12/10)*1rem;
  width:(12/12)*1em;
}
.icon-unfriend {
  font-size:(2.2/10)*1rem;
  width:(13.6/2.2)*1em;
}
.icon-user {
  font-size:(12/10)*1rem;
  width:(9/12)*1em;
}
